{% extends 'components/layout.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block customStylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block contentHeader %}
    Ajouter une recette
{% endblock %}

{% block contentBody %}

    {{ form_start(form) }}
    {{ form_row(form.name) }}

    <div class="form-group">
        <button type="submit" class="btn form-submit">Ajouter</button>
        <a href="{{ path('recipe_add') }}" class="btn btn-danger" style="border-radius: 10px">Annuler</a>
    </div>
    {{ form_end(form) }}
{% endblock %}