{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block customStylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="w-100 vw-100 h-100 vh-100 d-flex justify-content-between">
        <div class="flex-grow-1">
            <img class="position-absolute" style="z-index: -1" src="{{ asset('assets/background-log.png') }}">
        </div>
        <div class="w-50 p-5 d-flex justify-content-center flex-column" style="background-color: white">
            <div class="d-flex justify-content-center position-fixed" style="top: 1rem; right: 0.5rem; width: inherit">
                <img style="width: 92.05px" src="{{ asset('assets/logo_tambouille.png') }}">
            </div>
            <h1 style="font-weight: 600">S’inscrire</h1>
            <p>Remplissez le formulaire d'inscription ci-dessous.</p>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
            {{ form_end(registrationForm) }}

            <div class="d-flex justify-content-between mt-5">
                <p>Déjà un compte ?</p>
                <a href="{{ path('app_login') }}" class="btn btn-outline form-submit">
                    Se connecter
                </a>
            </div>
        </div>
    </div>
{% endblock %}
