{% extends 'components/layout.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block customStylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block contentHeader %}
    Ajouter un ingrédient
{% endblock %}

{% block contentBody %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control form-input-style'}}) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="form-group">

        {{ form_label(form.ingredientQuantity) }}
        {{ form_widget(form.ingredientQuantity, {'attr': {'class': 'form-control form-input-style'}}) }}
        {{ form_errors(form.ingredientQuantity) }}
    </div>
    <div class="form-group">
        {{ form_label(form.ingredientVolume) }}
        {{ form_widget(form.ingredientVolume, {'attr': {'class': 'form-control-file form-input-style', 'style': 'border-radius: 5px' }}) }}
        {{ form_errors(form.ingredientVolume) }}
    </div>
    <button type="submit" class="btn form-submit">Ajouter</button>
    <a href="{{ path('recipe_add') }}" class="btn btn-danger" style="border-radius: 10px">Annuler</a>

    {{ form_end(form) }}
{% endblock %}