{% extends 'components/layout.html.twig' %}

{% block contentHeader %}
    Ajouter un ingrédient
{% endblock %}

{% block contentBody %}
    {% block body %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="form-group">

            {{ form_label(form.ingredientQuantity) }}
            {{ form_widget(form.ingredientQuantity, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.ingredientQuantity) }}
        </div>
        <div class="form-group">
            {{ form_label(form.ingredientVolume) }}
            {{ form_widget(form.ingredientVolume, {'attr': {'class': 'form-control-file'}}) }}
            {{ form_errors(form.ingredientVolume) }}
        </div>
        <button type="submit">Ajouter</button>
        <a href="{{ path('recipe_add') }}" class="btn btn-secondary">Annuler</a>

        {{ form_end(form) }}
    {% endblock %}
{% endblock %}