{% extends 'components/layout.html.twig' %}

{% block contentHeader %}
    Ajouter une recette
{% endblock %}

{% block contentBody %}
    <a href="{{ path('app_cooking_book') }}">Retour</a>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.cookingTime) }}
        {{ form_widget(form.cookingTime, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.image) }}
        {{ form_widget(form.image, {'attr': {'class': 'form-control-file'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.nbPersons) }}
        {{ form_widget(form.nbPersons, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.author) }}
        {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
        {{ form_label(form.equipements) }}
        {{ form_widget(form.equipements, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <h2>Ingrédients</h2>
    {% for ingredientForm in form.ingredients %}
        <div class="ingredient-form">
            {{ form_row(ingredientForm.name) }}
            {{ form_row(ingredientForm.quantity) }}
            {{ form_row(ingredientForm.unit) }}
            <button type="button" class="remove-ingredient">Supprimer</button>
        </div>
    {% endfor %}
    <button type="button" class="add-ingredient">Ajouter un ingrédient</button>
    <button type="submit">Ajouter la recette</button>

    {{ form_end(form) }}
{% endblock %}