{% extends 'components/layout.html.twig' %}

{% block contentHeader %}
    Ajouter une recette
{% endblock %}

{% block contentBody %}
    {% block body %}
        <h1>Ajouter une recette</h1>
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}
        {{ form_row(form.cookingTime) }}
        {{ form_row(form.image) }}
        {{ form_row(form.recipeType) }}
        {{ form_row(form.nbPersons) }}
        {{ form_row(form.author) }}
        <h2>Ingrédients</h2>
        {{ form_widget(form.ingredients) }}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-ingredient-modal">
            Ajouter un ingrédient
        </button>
        <h2>Étapes de préparation</h2>
        {{ form_widget(form.steps) }}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addStepModal">
            Ajouter une étape de préparation
        </button>
        <h2>Équipements</h2>
        {{ form_widget(form.equipements) }}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addEquipementModal">
            Ajouter un équipement
        </button>
        {{ form_row(form.submit) }}
        {{ form_end(form) }}

        {% include 'recipe/_modal_add_ingredient.html.twig' %}
        {% include 'recipe/_modal_add_step.html.twig' %}
        {% include 'recipe/_modal_add_equipement.html.twig' %}
    {% endblock %}
    <button type="submit">Ajouter la recette</button>
{% block javascripts %}

    <script>
        // Au clic sur le bouton pour ajouter un ingrédient, une étape de préparation ou un équipement
        $('.add-item-button').on('click', function (e) {
            e.preventDefault();

            // On récupère l'URL pour afficher le formulaire
            var url = $(this).attr('href');

            // On fait une requête AJAX pour récupérer le formulaire
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    // On affiche le formulaire dans la modal
                    $('#modal-content').html(data);
                    $('#modal').modal('show');
                }
            });
        });
    </script>

    {% endblock %}
    {{ form_end(form) }}
{% endblock %}