{% extends 'components/layout.html.twig' %}

{% block contentHeader %}
    Ajouter une recette
{% endblock %}

{% block contentBody %}
    {% block body %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="form-group">
            {{ form_label(form.cookingTime) }}
            {{ form_widget(form.cookingTime, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.cookingTime) }}
        </div>
        <div class="form-group">
            {{ form_label(form.image) }}
            {{ form_widget(form.image, {'attr': {'class': 'form-control-file'}}) }}
            {{ form_errors(form.image) }}
        </div>
        <div class="form-group">
            {{ form_label(form.recipeType) }}
            {{ form_widget(form.recipeType, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.recipeType) }}
        </div>
        <div class="form-group">
            {{ form_label(form.nbPersons) }}
            {{ form_widget(form.nbPersons, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.nbPersons) }}
        </div>
        <div class="form-group">
            {{ form_label(form.author) }}
            {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(form.author) }}
        </div>
        <div class="form-group">

            <h3>Ingredients</h3>
            <div id="ingredients">
                {% for ingredient in ingredients %}
                        {{ ingredient.name }} -  {{ ingredient.ingredientQuantity }} - {{ ingredient.ingredientVolume }}<br>
                    <a href="{{ path('delete_ingredient', {'id': ingredient.id}) }}">Supprimer</a>
                {% endfor %}
            </div>
            <a href="{{ path('add_ingredient') }}">Ajouter un ingrédient</a>
        </div>

        <div class="form-group">
            <h3>Equipements</h3>
            {% for equipement in equipements %}
                <div class="equipement">
                    {{ equipement.name }}
                </div>
                <a href="{{ path('delete_equipement', {'id': equipement.id}) }}">Supprimer</a>
            {% endfor %}
            <a href="{{ path('add_equipement') }}">Ajouter un équipement</a>
        </div>

        <div class="form-group">
            <h3>Etape de préparation</h3>
            {% for preparationStep in preparationSteps %}
                <div class="preparationStep">
                    {{ preparationStep.description }}
                </div>
                <a href="{{ path('delete_preparationStep', {'id': preparationStep.id}) }}">Supprimer</a>
            {% endfor %}
            <a href="{{ path('add_preparationStep') }}">Ajouter une étape de préparation</a>

        </div>


        {{ form_end(form) }}
    <button type="submit" class="btn btn-primary">Ajouter la recette</button>
    {% endblock %}

{% endblock %}