{% extends 'components/layout.html.twig' %}

{% block contentBody %}
    <a href="{{ path('app_cooking_book') }}">Retour</a>
    <h1>{{ recipes.title }}</h1>
    <p>{{ recipes.description }}</p>
    <p>{{ recipes.cookingTime }}</p>
    <p>{{ recipes.nbPersons }}</p>
    {% if recipes.images %}
        {% for image in recipes.images %}
            <img src="{{ asset('uploads/images/' ~ image) }}" alt="{{ recipes.title }}" width="100px" height="100px"/>
        {% endfor %}
    {% endif %}
    <a href="{{ path('recipe_edit', {'id': recipes.id}) }}" class="btn btn-primary">Modifier la recette</a>
    <form action="{{ path('recipe_delete', {'id': recipes.id}) }}" method="post" onsubmit="return confirm('Vous voulez vraiment supprimé votre recette ?');">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete_recipe' ~ recipes.id) }}">
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>
    <br>
    <a href="{{ path('review_add', {'recipeId': recipes.id}) }}" class="btn btn-primary">Ajouter un avis</a>
    {% if reviews is not empty %}
        <br>
        <h2>Avis</h2>
        <ul>
            {% for review in reviews %}
                {% if app.user and app.user.id == review.author.id %}
                    <a href="{{ path('review_edit', {'id': review.id}) }}" class="btn btn-primary">Modifier votre avis</a>
                {% endif %}
                <li>{{ review.author }} - {{ review.rating }}/10 - {{ review.comment }}</li>

                <form action="{{ path('review_delete', {'id': review.id}) }}" method="post"onsubmit="return confirm('Vous voulez vraiment supprimé votre avis ?');">
                    <input type="hidden" name="_method" value="DELETE" />
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            {% endfor %}
        </ul>
    {% endif %}

    {% if posts is not empty %}
        <br>
        <h2>Posts</h2>
        <ul>
            {% for post in posts %}
                <li>
                    {{ component('post', {
                        post: post,
                        noComment : true
                    }) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}