<div class="border border-primary d-flex  flex-column">
    <span>{{ post.author.username }}</span>
    <span>{{ post.content }}</span>
    <span>{{ post.recipe.title ?? "Aucun recette" }}</span>
    <img src="{{ asset('uploads/images/' ~ post.image) }}" alt="Image de la recette" style="height: 100px; width: 100px">
    <hr>
    {% if noComment is same as false %}
        <form action="{{ path('add_comment') }}" method="post">
        <input type="hidden" id="postId" name="postId" value="{{ post.id }}">
        <input type="text" id="content" name="content"  placeholder="Ajouter un commentaire">
        <button type="submit">Comment</button>
    </form>
    <hr>
        <span>Comment section :</span>
        {% for comment in post.comments %}

            {{ component('comment', {
                comment: comment,
            }) }}

        {% endfor %}
    {% endif %}
    <span>{{ post.createdAt|date("m/d/Y") }}</span>
</div>