
<div class="d-flex flex-column p-3" style="background-color: rgba(229,221, 205,50%);height: 100vh">
    <div style="position: sticky; top: 1rem;">
        <a href="{{ path('app_feed') }}">
            <img src="{{ asset('assets/logo_tambouille.png') }}">
        </a>
        <hr>

        <div class="d-flex">
            {% if user.image %}
                <img style="border-radius: 25px; height: 44px; width: 44px" src="{{ asset('uploads/images/' ~ user.image) }}">
            {% else %}
                <div style="background-color: #E6A203; border-radius: 25px; height: 44px; width: 44px" class="d-flex justify-content-center align-items-center">
                    {{ user.username|first }}
                </div>
            {% endif %}
            <div class="d-flex flex-column">
                <a href="{{ path('app_user_profile') }}" class="ml-1">
                    <p class="mb-1">{{ user.username }}</p>
                    Mon profil
                </a>
            </div>
        </div>
        <hr>

        {% if groups|length > 0 %}
            Liste de mes groupes :
            {% for group in groups %}
                    <li class="d-flex justify-content-between mb-1 mt-2">
                        <div>
                        <img src="{{ asset('assets/icons/people-black.svg') }}">
                        <a href="{{ path('select_group', { 'id': group.id })  }}">
                            <span >{{ group.name }}</span>
                        </a>
                        </div>
                        <a href="{{ path('profile_group', { 'id': group.id })  }}">
                            <img src="{{ asset('assets/icons/setting-group.svg') }}">
                        </a>
                    </li>

                <div class="d-flex flex-column">
                    <a href="{{ path('create_group') }}" class="mb-2 mt-1">
                        <img src="{{ asset('assets/icons/add.svg') }}">
                        Créer un groupe
                    </a>
                    <a href="{{ path('join_group') }}" class="">
                        <img src="{{ asset('assets/icons/add.svg') }}">
                        Rejoindre un groupe
                    </a>
                </div>

            {% endfor %}
        {% else %}
            <p>Vous n’appartenez à aucun groupe</p>


            <div class="d-flex flex-column">
                <a href="{{ path('create_group') }}">
                <button class="btn mb-2" style="background-color: #E6A203; border-radius: 10px; color:white">
                    <span>+</span>
                    Créer un groupe
                </button>
                </a>
                <a href="{{ path('join_group') }}">
                <button class="btn" style="background-color: #E6A203; border-radius: 10px; color:white">
                    <img src="{{ asset('assets/icons/people.svg') }}">
                    Rejoindre un groupe
                </button>
                </a>
            </div>
        {% endif %}
        {% if groups|length > 0 %}
            <hr>
            <div class="d-flex flex-column">
                <a href="{{ path('app_feed') }}">
                    <button class="btn">
                        <img src="{{ asset('assets/icons/messages.svg') }}">
                        Fil d'actualité
                    </button>
                </a>

                <a href="{{ path('app_cooking_book') }}">
                    <button class="btn">
                        <img src="{{ asset('assets/icons/book.svg') }}">
                        Livre de recette
                    </button>
                </a>

                <a>
                    <button class="btn">
                        <img src="{{ asset('assets/icons/calendar.svg') }}">
                        Calendrier
                    </button>
                </a>
            </div>
            <hr>
        {% endif %}
        <a href="{{ path('app_logout') }}">
            <button class="btn position-fixed" style="border:none; bottom: 2rem">
                <img src="{{ asset('assets/icons/logout.svg') }}">
                Se deconnecter
            </button>
        </a>
    </div>
</div>

<style>
    a {
        color:black;
    }
    a:hover {
        color: black;
        text-decoration: none;
    }
</style>