{% extends 'components/layout.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block customStylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block contentHeader %}
    <h1 class="pl-3" style="font-weight: bold">
        Modifier le profil
    </h1>
{% endblock %}

{% block contentBody %}
    <div class="p-4">

        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.image) }}
        {{ form_row(form.phone) }}
        {{ form_end(form) }}
    </div>
{% endblock %}