{% extends 'base.html.twig' %}

{% block title %}Modifier le profil{% endblock %}

{% block body %}
    <h1>Modifier le profil</h1>

    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.image) }}
    {{ form_row(form.phone) }}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}