
{% extends 'components/layout.html.twig' %}

    {% block customStylesheets %}
        <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    {% endblock %}


    {% block contentHeader %}
        <h1 class="pl-3" style="font-weight: bold">Profil de {{ user.username }}</h1>
    {% endblock %}

    {% block contentBody %}

        <div>
            <p style="border-bottom: #E5DDCD 1px solid; font-weight: 600">Mes informations</p>

            <div>
                <p>Image</p>
                {% if user.image %}
                    <img style="border-radius: 50px;height: 104px; width: 104px" class="mb-3" src="{{ asset('uploads/images/' ~ user.image) }}" alt="Ma photo">
                {% else %}
                    <div style="background-color: #E6A203; border-radius: 25px; height: 44px; width: 44px" class="d-flex justify-content-center align-items-center mb-3">
                        {{ user.username|first }}
                    </div>
                {% endif %}
                <div class="d-flex justify-content-between">
                    <div class="w-50 pr-3">
                        <p>Prénom </p>
                        <p class="form-input-style p-2" style="border-radius: 10px">{{ user.username }}</p>
                    </div>
                    <div class="w-50 pl-3">
                        <p>Adresse email </p>
                        <p class="form-input-style p-2" style="border-radius: 10px">{{ user.email }}</p>
                    </div>
                </div>
                <p>Téléphone </p>
                <p class="form-input-style p-2" style="border-radius: 10px">{{ user.phone }}</p>
            </div>


            <a href="{{ path('app_user_edit') }}" class="btn"  style="background-color: #E6A203; border-radius: 10px; width: fit-content;color: white">Modifier le profil</a>
        </div>

        <div class="mt-3">
            <p style="border-bottom: #E5DDCD 1px solid; font-weight: 600">Mes recettes</p>
            {% for recipe in user.getRecipes %}
                <div class="d-flex align-items-center">
                    <img style="height: 65px; width: 65px" src="{{ asset('uploads/images/' ~ recipe.images) }}" alt=" ">

                    <a href="{{ path('recipe_show', {'id': recipe.id}) }}" class="ml-3">
                        {{ recipe.title }}
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endblock %}

