
{% extends 'components/layout.html.twig' %}



    {% block contentHeader %}
        <h1>Profil de {{ user.username }}</h1>
    {% endblock %}

    {% block contentBody %}

        <div>
            <h2>Mes infos</h2>


            <p>Nom d'utilisateur : {{ user.username }}</p>
            <p>Adresse email : {{ user.email }}</p>
            <p>Téléphone : {{ user.phone }}</p>

            <a href="{{ path('app_user_edit') }}" class="btn btn-primary">Modifier le profil</a>
        </div>

        <div>
            <h2>Recettes</h2>
            {% for recipe in user.getRecipes %}
                - {{ recipe.title}}
            {% endfor %}
        </div>
    {% endblock %}

